@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}
.block{
    width:15rem;
    height:15rem;
    background-color: #000;
    color:#fff
}
.left{
    float:left;
    margin-right:8px;
}
.right{
    float:right;
    margin-left:8px;
}
.p2{
    display:inline-block;
}
section{
    background-color: bisque;
    padding:1rem;
    border:1px solid black;
    display: inline-block;
    /* display: flow-root; */
    /* overflow:auto; */
    /* any of the above method works */
}